<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <listener>
        <listener-class>com.superSay.contextListener.contextListener</listener-class>
    </listener>
    <servlet>
      <description></description>
      <display-name>CheckComments</display-name>
      <servlet-name>CheckComments</servlet-name>
      <servlet-class>com.superSay.servlets.CheckCommentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>CheckComments</servlet-name>
      <url-pattern>/CheckComments</url-pattern>
    </servlet-mapping>
</web-app>
